# Requirements for development.
# These requirements are not sorted alphabetically, but
#   by hierarchy of need.

# Linters & formatters
ruff

# Testing
pytest

# Documentation
mkdocs-material
mkdocstrings-python  # Auto-docs based on the docstrings
griffe-pydantic  # Enable auto-docs for pydantic models